<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>MessageAdder</servlet-name>
        <servlet-class>pl.softwaremill.demo.servlets.MessageAdderServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MessagesLister</servlet-name>
        <servlet-class>pl.softwaremill.demo.servlets.MessagesListerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageAdder</servlet-name>
        <url-pattern>/add_message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesLister</servlet-name>
        <url-pattern>/list_messages</url-pattern>
    </servlet-mapping>
</web-app>
